/* ----------------------------------------------------------------------------------------- 
SLIDEXO - BASELINE.CSS

/*+ 1. 	Reset
/*+ 2.	Typography
/*+ 3.	Utility
/*+ 4.	Outline
/*+ 5. 	Slideshow
/*+ 6. 	Help
----------------------------------------------------------------------------------------- */

/*+ 1. 	Reset
----------------------------------------------------------------------------------------- */
/* 
	html5doctor.com Reset Stylesheet v1.4.1 2010-03-01
	Author: Richard Clark - http://richclarkdesign.com 
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	}

body {
    line-height:1;
	}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
	}

nav ul {
    list-style:none;
	}

blockquote, q {
    quotes:none;
	}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
	}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
	}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
	}

del {
    text-decoration: line-through;
	}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
	}

table {
    border-collapse:collapse;
    border-spacing:0;
	}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
	}

input, select {
    vertical-align:middle;
	}

/*+ 2. 	Typography
----------------------------------------------------------------------------------------- */
html {	
	background-color: #333;
	height: 100%;
	}
	
body {
	background-color: #fff;
	font-family: Helvetica Neue, Arial, san-serif;
	font-size: 100%;			/* 16px */
	line-height: 1.5;			/* 24px */
		-webkit-font-smoothing: antialiased;
	}
	
p, dl, ol, ul, blockquote, pre, td, th, label, footer {
	font-size: 1em;
	line-height: 1.5;
	}
	
h1 {
	font-size: 3em; 			/* 48px */
  	line-height: 1; 			/* 48px */
  	margin-top: 0.5em;
	}
	
h2, article h1 {
	font-size: 2.25em; 			/* 36px */
  	line-height: 1.3333; 		/* 48px */
  	margin-top: 0.6667em;
	}
	
h3, article h2, aside h1 {
	font-size: 1.5em; 			/* 24px */
  	line-height: 1; 			/* 24px */
  	margin-top: 1em;
	}
	
h4, article h3, aside h2 {
	font-size: 1.3125em; 		/* 21px */
  	line-height: 1.1429; 		/* 24px */
  	margin-top: 1.1429em;
	}
	
h5, article h4, aside h3 {
	font-size: 1.125em; 		/* 18px */
  	line-height: 1.3333; 		/* 24px */
  	margin-top: 1.3333em;
	}
	
h6, article h5, aside h4 {
	font-size: 1em; 			/* 16px */
  	line-height: 1.5; 			/* 24px */
  	margin-top: 1.5em;
	}
	
sup {
	font-size: 60%;
	vertical-align: top;
	}
	
code {
	background-color: #666;
	color: #fff;
	font-family: Andale Mono, Courier New, monospace;
	padding: 0 0.5em;
	}

/*+ 3. 	Utility
----------------------------------------------------------------------------------------- */
.left {
	float: left;
	}
	
.right {
	float: right;
	}
	
.hide {
	display: none;
	}
	
.show {
	display: block;
	}

.group:after { 
	clear: both; 
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
	}
	
/*+ 4. 	Outline
----------------------------------------------------------------------------------------- */
@media screen {

	.outline {
		margin: 0 auto;
		padding: 0 2%;
		width: 80%;
		}
		
	.outline p, .outline dl, .outline ol, .outline ul, .outline blockquote, 
	.outline pre, .outline td, .outline th, .outline label {
		margin-bottom: 1.5em;
		}
		
	.outline h1, .outline h2, .outline h3, .outline h4, .outline h5, 
	.outline h6, .outline .xo-summary {
		font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
		font-weight: normal;
		}

	.outline .xo-title-block {
		padding-top: 0.1em;
		}
		
	.outline .xo-title {
		margin-top: 0;
		}
		
	.outline .xo-date {
		font-family: Helvetica Neue, Arial, san-serif;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.7143;
		margin-top: 1.7143em;
		}
		
	.outline .xo-summary {
		font-size: 1.125em; 		/* 18px */
		font-style: italic;
		line-height: 1.3333; 		/* 24px */
		margin-top: 0.6667em;
		margin-bottom: 1.3333em;
		}
		
	.outline .presentation {
		list-style: none;
		counter-reset: section;
		}
		
	.outline .xo-slide {
		background-color: #fff;
		border-bottom: 1px dotted #999;
		margin-bottom: 1.5em;
		}

	.outline .xo-slide:before {
		background-color: #999;
		color: #fff;
		counter-increment: section; 
		content: "Slide " counters(section, ".") " ";
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.7143;
		padding-left: 1%;
		text-transform: uppercase;
		}
		
	.outline .xo-slide:first-of-type:before {
		background-color: green;
		}
		
	.outline .xo-slide:last-of-type:before {
		background-color: red;
		}
		
	.outline .xo-section:before {
		background-color: yellow;
		}
		
	.outline .xo-slide-content {
		background-color: #fff;
		box-sizing: border-box;
		float: left;
		padding: 2%;
		width: 66%;
		}
		
	 .outline .xo-slide-content h1, .outline .xo-slide-notes h1 {
		margin-top: 0;
		}
		
	.outline .xo-slide-content dl, .outline .xo-slide-content ol, .outline .xo-slide-content ul {
		margin-bottom: 0;
		padding-left: 4%;
		}
		
	.outline .xo-slide-notes {
		/*background-color: #eee;*/
		box-sizing: border-box;
		float: right;
		padding: 2%;
		width: 26%;
		}
		
	.outline .xo-slide-notes h1 {
		margin-bottom: 0.5em;
		}
		
	.outline .xo-slide-notes ul {
		padding: 0 8%;
		}
		
	.outline .xo-footer {
		padding-bottom: 1.5em;
		}
		
	.outline .xo-nav-prev, .outline .xo-nav-count, .outline .xo-nav-next, .outline .xo-nav-select	{
		display: none;
		}
		
	.outline .xo-nav-outline, .outline .xo-nav-help {
		position: fixed; 
		left: 0;
		}
		
	.outline .xo-nav-outline {
		bottom: 20px;
		}
		
	.outline .xo-nav-help {
		bottom: 0;
		}
		
	.outline .xo-footer-copyleft {
		display: block;
		text-align: center;
		}
	
}

@media print {
	
	.outline {
		width: 100%;
		}
		
	.outline .xo-slide {
		border-top: 1px dotted #999;
		}
		
	.outline .xo-slide-content, .outline .xo-slide-notes {
		float: none;
		width: 100%;
		}
	
}

@media screen and (max-width: 799px) {

	.outline .xo-slide-content, .outline .xo-slide-notes {
		float: none;
		width: 96%;
		}

}

@media screen and (max-width: 499px) {

	.outline body {
		padding: 0 4%;
		width: 92%;
		}

}
	
/*+ 5. 	Slideshow
----------------------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
	.slideshow {
		font-size: 162.5%;	/* 26px */
		}
}

@media screen and (min-width: 1280px) {
	.slideshow {
		font-size: 200%;	/* 32px */
		}
}

@media screen and (min-width: 1440px) {
	.outline {
		font-size: 162.5%;	/* 26px */
		}	
	.slideshow {
		font-size: 225%;	/* 36px */
		}
}

@media screen and (min-width: 1680px) {
	.outline {
		font-size: 200%;	/* 32px */
		}
	.slideshow {
		font-size: 262.5%;	/* 42px */
		}
}

@media screen and (min-width: 1920px) {
	.outline {
		font-size: 225%;	/* 36px */
		}
	.slideshow {
		font-size: 300%;	/* 48px */
		}
}

@media screen {

	.slideshow, .slideshow body, .slideshow .presentation {
		height: 100%;
		}
		
	.slideshow .xo-header, .slideshow .xo-footer-copyleft {
		display: none;
		}
		
	.slideshow .presentation {
		height: 100%;
		}
		
	.slideshow .xo-slide {
		background-color: #eee;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: none;
		height: 100%;
		overflow: hidden;
		/*padding: 2%;*/
		width: 100%;
		}
		
	.slideshow .current {
		display: block;
		}
		
	.slideshow .xo-slide-content {
		padding: 0 5%;
		}
		
	.slideshow .xo-slide-notes {
		display: none;
		}
		
	.slideshow .xo-footer-nav {
		background-color: rgba(0,0,0,0.6);
			-moz-border-radius-topright: 0.5em;
			-webkit-border-top-right-radius: 0.5em;
		border-top-right-radius: 0.5em;
		bottom: 0;
		line-height: 0;
		opacity: 0;
		padding: 0;
		position: fixed;
			-moz-transition: opacity .2s ease-in-out;
			-o-transition: opacity .2s ease-in-out;
			-webkit-transition: opacity .2s ease-in-out;
		transition: opacity .2s ease-in-out;
		}

	.slideshow .xo-footer-nav:hover {
		opacity: 1;
		}
		
	.slideshow .xo-nav {
		1line-height: 1;
		1height: 1em;
		}

	.slideshow .xo-nav li {
		display: inline;
		1font-size: 18px;
		position: relative;
		}
		
	.slideshow .xo-nav-prev, .slideshow .xo-nav-next {
		1font-size: 24px;
		1top: 4px;
		}
		
	.slideshow .xo-nav-select {
		position: static;
		}
		
	.slideshow .xo-nav a {
		background-color: rgba(0,0,0,0.2);
		color: #fff;
		1padding: 4px 8px 3px;
		text-decoration: none;
			-moz-transition: background-color .2s ease-in-out;
			-o-transition: background-color.2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		}
		
	.slideshow .xo-nav a:hover {
		background-color: rgba(0,0,0,0.4);
		}
		
	.slideshow .xo-nav-prev a, .slideshow .xo-nav-next a {
		1padding: 0 8px 1px;
		}
		
	.slideshow .xo-nav a, .slideshow .xo-nav select {
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		border-radius: 4px;
		}

	.slideshow .xo-nav form, .slideshow .xo-nav fieldset {
		display: inline;
		}

	.slideshow .xo-nav fieldset {
		border: none;
		}
		
	.slideshow .xo-nav select {
		border-color: #fff;
		1padding: 4px;
		}
	
}

/*+ 6. 	Help
----------------------------------------------------------------------------------------- */
#shortcuts, #slide-list {
	background: rgba(0,0,0,0.8);
		-moz-border-radius: 2%;
		-o-border-radius: 2%;
		-webkit-border-radius: 1em;
	border-radius: 2%;
		-moz-box-shadow: 0 0 12px rgba(0,0,0,0.8);
		-o-box-shadow: 0 0 12px rgba(0,0,0,0.8);
		-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.8);
	box-shadow: 0 0 12px rgba(0,0,0,0.8);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	left: 20%;
	margin: 0 auto;
	padding: 2%;
	position: fixed;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
	top: 10%;
	width: 60%;
	}
	
@media print and (max-width: 8in) {
	.xo-slide { page-break-after: always; }
}